In [1]:
# Initial Imports

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
import plotly_express as px

In [3]:
# Importing Dataset and Some Initial EDA with Dataset

In [4]:
dfAll = pd.read_csv('players.csv')

In [25]:
print(np.sort(dfAll['active_from'].unique()))
# This dataset has data up until the end of the 2017-2018 NBA Season

[1947 1948 1949 1950 1951 1952 1953 1954 1955 1956 1957 1958 1959 1960
 1961 1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974
 1975 1976 1977 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988
 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002
 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016
 2017 2018]

In [30]:
dfAll[dfAll['name'] == 'Tim Duncan']
# Tim Duncan entered the NBA in 1997 instead of 1997

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Active_From,Years_In_NBA
1081,1081,1998,2016,"April 25, 1976",Wake Forest University,6-11,Tim Duncan,F-C,/players/d/duncati01.html,250.0,...,0.577,6.2,0.689,5.9,4.1,128.0,16.5,83.0,1997,19

In [20]:
dfAll[dfAll['name'] == 'Michael Jordan']
# Michael Jordan entered the NBA in 1984 instead of 1985

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA__3ptpg,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In)
2126,2126,1985,2003,"February 17, 1963",University of North Carolina,6-6,Michael Jordan,G-F,/players/j/jordami01.html,195.0,...,0.9,13.2,0.54,7.1,0.748,4.2,3.1,101.0,17.7,78.0

In [6]:
len(dfAll)

4576

In [7]:
dfAll.head()

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA__3ptpg,NCAA_efgpct,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,...,0.0,NaN,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,NaN,NaN,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,...,2.7,NaN,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
print(dfAll.columns)

Index(['Unnamed: 0', 'active_from', 'active_to', 'birth_date', 'college',
       'height', 'name', 'position', 'url', 'weight', 'NBA__3ptapg',
       'NBA__3ptpct', 'NBA__3ptpg', 'NBA_efgpct', 'NBA_fg%', 'NBA_fg_per_game',
       'NBA_fga_per_game', 'NBA_ft%', 'NBA_ft_per_g', 'NBA_fta_p_g',
       'NBA_g_played', 'NBA_ppg', 'NCAA__3ptapg', 'NCAA__3ptpct',
       'NCAA__3ptpg', 'NCAA_efgpct', 'NCAA_fgapg', 'NCAA_fgpct', 'NCAA_fgpg',
       'NCAA_ft', 'NCAA_ftapg', 'NCAA_ftpg', 'NCAA_games', 'NCAA_ppg'],
      dtype='object')

In [9]:
dfAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 34 columns):
Unnamed: 0          4576 non-null int64
active_from         4576 non-null int64
active_to           4576 non-null int64
birth_date          4547 non-null object
college             4274 non-null object
height              4575 non-null object
name                4576 non-null object
position            4575 non-null object
url                 4576 non-null object
weight              4570 non-null float64
NBA__3ptapg         3448 non-null float64
NBA__3ptpct         2953 non-null float64
NBA__3ptpg          3448 non-null float64
NBA_efgpct          3426 non-null float64
NBA_fg%             4548 non-null float64
NBA_fg_per_game     4576 non-null float64
NBA_fga_per_game    4576 non-null float64
NBA_ft%             4378 non-null float64
NBA_ft_per_g        4576 non-null float64
NBA_fta_p_g         4576 non-null float64
NBA_g_played        4576 non-null int64
NBA_ppg             4576 non-null float64
NCAA__3ptapg        1868 non-null float64
NCAA__3ptpct        1726 non-null float64
NCAA__3ptpg         1871 non-null float64
NCAA_efgpct         0 non-null float64
NCAA_fgapg          2582 non-null float64
NCAA_fgpct          2583 non-null float64
NCAA_fgpg           2598 non-null float64
NCAA_ft             2594 non-null float64
NCAA_ftapg          2592 non-null float64
NCAA_ftpg           2598 non-null float64
NCAA_games          2598 non-null float64
NCAA_ppg            2598 non-null float64
dtypes: float64(24), int64(4), object(6)
memory usage: 1.2+ MB

In [10]:
dfAll = dfAll.drop(columns=['NCAA_efgpct'])

In [11]:
dfAll.columns

Index(['Unnamed: 0', 'active_from', 'active_to', 'birth_date', 'college',
       'height', 'name', 'position', 'url', 'weight', 'NBA__3ptapg',
       'NBA__3ptpct', 'NBA__3ptpg', 'NBA_efgpct', 'NBA_fg%', 'NBA_fg_per_game',
       'NBA_fga_per_game', 'NBA_ft%', 'NBA_ft_per_g', 'NBA_fta_p_g',
       'NBA_g_played', 'NBA_ppg', 'NCAA__3ptapg', 'NCAA__3ptpct',
       'NCAA__3ptpg', 'NCAA_fgapg', 'NCAA_fgpct', 'NCAA_fgpg', 'NCAA_ft',
       'NCAA_ftapg', 'NCAA_ftpg', 'NCAA_games', 'NCAA_ppg'],
      dtype='object')

In [12]:
dfAll.isna().sum()

Unnamed: 0             0
active_from            0
active_to              0
birth_date            29
college              302
height                 1
name                   0
position               1
url                    0
weight                 6
NBA__3ptapg         1128
NBA__3ptpct         1623
NBA__3ptpg          1128
NBA_efgpct          1150
NBA_fg%               28
NBA_fg_per_game        0
NBA_fga_per_game       0
NBA_ft%              198
NBA_ft_per_g           0
NBA_fta_p_g            0
NBA_g_played           0
NBA_ppg                0
NCAA__3ptapg        2708
NCAA__3ptpct        2850
NCAA__3ptpg         2705
NCAA_fgapg          1994
NCAA_fgpct          1993
NCAA_fgpg           1978
NCAA_ft             1982
NCAA_ftapg          1984
NCAA_ftpg           1978
NCAA_games          1978
NCAA_ppg            1978
dtype: int64

In [13]:
dfAll.isna().sum().sum()

29722

In [14]:
dfAll.describe()

,Unnamed: 0,active_from,active_to,weight,NBA__3ptapg,NBA__3ptpct,NBA__3ptpg,NBA_efgpct,NBA_fg%,NBA_fg_per_game,...,NCAA__3ptpct,NCAA__3ptpg,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg
count,4576.000000,4576.000000,4576.000000,4570.000000,3448.000000,2953.000000,3448.000000,3426.000000,4548.000000,4576.000000,...,1726.000000,1871.000000,2582.000000,2583.000000,2598.000000,2594.000000,2592.000000,2598.000000,2598.000000,2598.000000
mean,2287.500000,1985.263330,1989.450393,208.915974,0.851885,0.236988,0.279118,0.451435,0.407901,2.458829,...,0.320698,0.844094,10.274516,0.495974,5.052694,0.711055,4.029900,2.880716,98.307544,13.574057
std,1321.121746,21.060432,21.937301,26.243075,1.196153,0.161189,0.439907,0.100671,0.105117,1.807253,...,0.135150,0.801787,3.633562,0.061320,1.780048,0.086036,1.598179,1.211084,30.447005,4.566653
min,0.000000,1947.000000,1947.000000,114.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,1.200000,0.201000,0.700000,0.295000,0.500000,0.300000,11.000000,1.600000
25%,1143.750000,1969.000000,1973.000000,190.000000,0.000000,0.125000,0.000000,0.421000,0.366000,1.100000,...,0.295000,0.100000,7.900000,0.453000,3.800000,0.659000,2.900000,2.100000,76.000000,10.500000
50%,2287.500000,1987.000000,1992.000000,210.000000,0.300000,0.268000,0.100000,0.464000,0.423000,2.000000,...,0.348000,0.700000,10.000000,0.492000,4.900000,0.720000,3.800000,2.800000,106.000000,13.400000
75%,3431.250000,2004.000000,2009.000000,225.000000,1.300000,0.340000,0.400000,0.498000,0.464000,3.400000,...,0.382750,1.400000,12.300000,0.533500,6.000000,0.770000,4.900000,3.600000,123.000000,16.200000
max,4575.000000,2018.000000,2018.000000,360.000000,7.800000,1.000000,3.400000,1.500000,1.000000,12.100000,...,1.000000,4.000000,38.100000,1.211000,16.700000,1.266000,14.400000,10.800000,152.000000,44.200000

In [15]:
dfAll['height'].head()

0    6-10
1     6-9
2     7-2
3     6-1
4     6-6
Name: height, dtype: object

In [16]:
# Data Cleansing

In [17]:
# Getting the Height (In) column

def getHeightInches(height):
    if isinstance(height, float):
        return None
    if len(height) == 4:
        return (12*int(height[0]) + int(height[2:]))
    else:
        return (12*int(height[0]) + int(height[2]))
    return None

dfAll['Height (In)'] = [getHeightInches(h) for h in dfAll['height']]

In [18]:
dfAll.columns

Index(['Unnamed: 0', 'active_from', 'active_to', 'birth_date', 'college',
       'height', 'name', 'position', 'url', 'weight', 'NBA__3ptapg',
       'NBA__3ptpct', 'NBA__3ptpg', 'NBA_efgpct', 'NBA_fg%', 'NBA_fg_per_game',
       'NBA_fga_per_game', 'NBA_ft%', 'NBA_ft_per_g', 'NBA_fta_p_g',
       'NBA_g_played', 'NBA_ppg', 'NCAA__3ptapg', 'NCAA__3ptpct',
       'NCAA__3ptpg', 'NCAA_fgapg', 'NCAA_fgpct', 'NCAA_fgpg', 'NCAA_ft',
       'NCAA_ftapg', 'NCAA_ftpg', 'NCAA_games', 'NCAA_ppg', 'Height (In)'],
      dtype='object')

In [26]:
dfAll.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4576 entries, 0 to 4575
Data columns (total 34 columns):
Unnamed: 0          4576 non-null int64
active_from         4576 non-null int64
active_to           4576 non-null int64
birth_date          4547 non-null object
college             4274 non-null object
height              4575 non-null object
name                4576 non-null object
position            4575 non-null object
url                 4576 non-null object
weight              4570 non-null float64
NBA__3ptapg         3448 non-null float64
NBA__3ptpct         2953 non-null float64
NBA__3ptpg          3448 non-null float64
NBA_efgpct          3426 non-null float64
NBA_fg%             4548 non-null float64
NBA_fg_per_game     4576 non-null float64
NBA_fga_per_game    4576 non-null float64
NBA_ft%             4378 non-null float64
NBA_ft_per_g        4576 non-null float64
NBA_fta_p_g         4576 non-null float64
NBA_g_played        4576 non-null int64
NBA_ppg             4576 non-null float64
NCAA__3ptapg        1868 non-null float64
NCAA__3ptpct        1726 non-null float64
NCAA__3ptpg         1871 non-null float64
NCAA_fgapg          2582 non-null float64
NCAA_fgpct          2583 non-null float64
NCAA_fgpg           2598 non-null float64
NCAA_ft             2594 non-null float64
NCAA_ftapg          2592 non-null float64
NCAA_ftpg           2598 non-null float64
NCAA_games          2598 non-null float64
NCAA_ppg            2598 non-null float64
Height (In)         4575 non-null float64
dtypes: float64(24), int64(4), object(6)
memory usage: 1.2+ MB

In [21]:
print('Min Height:', dfAll['Height (In)'].min())
print('Mean Height:', dfAll['Height (In)'].mean())
print('Median Height:', dfAll['Height (In)'].median())
print('Max Height:', dfAll['Height (In)'].max())

Min Height: 63.0
Mean Height: 78.02032786885246
Median Height: 78.0
Max Height: 91.0

In [22]:
print('Min Year:', dfAll['active_from'].min())
print('Mean Year:', dfAll['active_from'].mean())
print('Median Year:', dfAll['active_from'].median())
print('Max Year:', dfAll['active_from'].max())

Min Year: 1947
Mean Year: 1985.2633304195804
Median Year: 1987.0
Max Year: 2018

In [27]:
# Getting Actual Active_From column 
# active_from column in original dataset has values 1 year later than what the correct values should be

def getActualActiveFrom(year):
    return year-1

dfAll['Active_From'] = [getActualActiveFrom(y) for y in dfAll['active_from']]

In [28]:
# Getting the Years_In_NBA column

def getYearsInNBA(year1, year2):
    return year2-year1

dfAll['Years_In_NBA'] = [getYearsInNBA(y1, y2) for (y1,y2) in zip(dfAll['Active_From'], dfAll['active_to'])]

In [29]:
dfAll.columns

Index(['Unnamed: 0', 'active_from', 'active_to', 'birth_date', 'college',
       'height', 'name', 'position', 'url', 'weight', 'NBA__3ptapg',
       'NBA__3ptpct', 'NBA__3ptpg', 'NBA_efgpct', 'NBA_fg%', 'NBA_fg_per_game',
       'NBA_fga_per_game', 'NBA_ft%', 'NBA_ft_per_g', 'NBA_fta_p_g',
       'NBA_g_played', 'NBA_ppg', 'NCAA__3ptapg', 'NCAA__3ptpct',
       'NCAA__3ptpg', 'NCAA_fgapg', 'NCAA_fgpct', 'NCAA_fgpg', 'NCAA_ft',
       'NCAA_ftapg', 'NCAA_ftpg', 'NCAA_games', 'NCAA_ppg', 'Height (In)',
       'Active_From', 'Years_In_NBA'],
      dtype='object')

In [31]:
print('Min Years_In_NBA:', dfAll['Years_In_NBA'].min())
print('Mean Years_In_NBA:', dfAll['Years_In_NBA'].mean())
print('Median Years_In_NBA:', dfAll['Years_In_NBA'].median())
print('Max Years_In_NBA:', dfAll['Years_In_NBA'].max())

Min Years_In_NBA: 1
Mean Years_In_NBA: 5.187062937062937
Median Years_In_NBA: 3.0
Max Years_In_NBA: 23

In [32]:
dfAll[dfAll['Years_In_NBA'] == dfAll['Years_In_NBA'].max()]

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Active_From,Years_In_NBA
4452,4452,1985,2007,"September 6, 1962",Michigan State University,7-0,Kevin Willis,F-C,/players/w/willike02.html,220.0,...,0.53,4.5,0.579,2.0,1.2,79.0,10.1,84.0,1984,23

In [27]:
len(dfAll[dfAll['Years_In_NBA'] >= 5])

1966

In [26]:
dfAll.head()

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgapg,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Years_In_NBA
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,...,5.6,0.599,3.3,0.728,2.5,1.8,134.0,8.5,82.0,5
1,1,1969,1978,"April 7, 1946",Iowa State University,6-9,Zaid Abdul-Aziz,C-F,/players/a/abdulza01.html,235.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,81.0,10
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,16.8,0.639,10.7,0.628,7.9,5.0,88.0,26.4,86.0,20
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,...,21.9,0.474,10.4,0.863,6.4,5.5,64.0,29.0,73.0,11
4,4,1998,2003,"November 3, 1974","University of Michigan, San Jose State University",6-6,Tariq Abdul-Wahad,F,/players/a/abdulta01.html,223.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78.0,6

In [33]:
# Condensing Dataset

In [36]:
# Creating dataset for NBA players who played NCAA College Basketball
# This dataset excludes players like Manu Ginobili, Tony Parker, and LeBron James (who didn't play NCAA College Basketball)

In [34]:
dfNCAA = dfAll[(dfAll['NCAA_fgapg'].notnull())]

In [37]:
dfNCAA.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2582 entries, 0 to 4572
Data columns (total 36 columns):
Unnamed: 0          2582 non-null int64
active_from         2582 non-null int64
active_to           2582 non-null int64
birth_date          2582 non-null object
college             2582 non-null object
height              2582 non-null object
name                2582 non-null object
position            2582 non-null object
url                 2582 non-null object
weight              2582 non-null float64
NBA__3ptapg         2536 non-null float64
NBA__3ptpct         2226 non-null float64
NBA__3ptpg          2536 non-null float64
NBA_efgpct          2521 non-null float64
NBA_fg%             2567 non-null float64
NBA_fg_per_game     2582 non-null float64
NBA_fga_per_game    2582 non-null float64
NBA_ft%             2471 non-null float64
NBA_ft_per_g        2582 non-null float64
NBA_fta_p_g         2582 non-null float64
NBA_g_played        2582 non-null int64
NBA_ppg             2582 non-null float64
NCAA__3ptapg        1868 non-null float64
NCAA__3ptpct        1726 non-null float64
NCAA__3ptpg         1871 non-null float64
NCAA_fgapg          2582 non-null float64
NCAA_fgpct          2582 non-null float64
NCAA_fgpg           2582 non-null float64
NCAA_ft             2582 non-null float64
NCAA_ftapg          2582 non-null float64
NCAA_ftpg           2582 non-null float64
NCAA_games          2582 non-null float64
NCAA_ppg            2582 non-null float64
Height (In)         2582 non-null float64
Active_From         2582 non-null int64
Years_In_NBA        2582 non-null int64
dtypes: float64(24), int64(6), object(6)
memory usage: 746.4+ KB

In [38]:
dfNCAA.head()

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Active_From,Years_In_NBA
0,0,1991,1995,"June 24, 1968",Duke University,6-10,Alaa Abdelnaby,F-C,/players/a/abdelal01.html,240.0,...,0.599,3.3,0.728,2.5,1.8,134.0,8.5,82.0,1990,5
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,0.639,10.7,0.628,7.9,5.0,88.0,26.4,86.0,1969,20
3,3,1991,2001,"March 9, 1969",Louisiana State University,6-1,Mahmoud Abdul-Rauf,G,/players/a/abdulma02.html,162.0,...,0.474,10.4,0.863,6.4,5.5,64.0,29.0,73.0,1990,11
5,5,1997,2008,"December 11, 1976",University of California,6-9,Shareef Abdur-Rahim,F,/players/a/abdursh01.html,225.0,...,0.518,7.4,0.683,8.9,6.1,28.0,21.1,81.0,1996,12
6,6,1977,1981,"May 6, 1954",Indiana University,6-7,Tom Abernethy,F,/players/a/abernto01.html,220.0,...,0.533,2.4,0.689,1.7,1.1,110.0,5.9,79.0,1976,5

In [39]:
print(np.sort(dfNCAA['active_from'].unique()))

[1950 1951 1952 1953 1954 1955 1956 1957 1959 1960 1961 1962 1963 1964
 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978
 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992
 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006
 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018]

In [40]:
print(np.sort(dfNCAA['Active_From'].unique()))

[1949 1950 1951 1952 1953 1954 1955 1956 1958 1959 1960 1961 1962 1963
 1964 1965 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977
 1978 1979 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991
 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005
 2006 2007 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017]

In [41]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Active_From,Years_In_NBA
2,2,1970,1989,"April 16, 1947","University of California, Los Angeles",7-2,Kareem Abdul-Jabbar,C,/players/a/abdulka01.html,225.0,...,0.639,10.7,0.628,7.9,5.0,88.0,26.4,86.0,1969,20
6,6,1977,1981,"May 6, 1954",Indiana University,6-7,Tom Abernethy,F,/players/a/abernto01.html,220.0,...,0.533,2.4,0.689,1.7,1.1,110.0,5.9,79.0,1976,5
12,12,1988,1993,"November 15, 1962",Oral Roberts University,6-11,Mark Acres,F-C,/players/a/acresma01.html,220.0,...,0.564,7.3,0.696,5.7,4.0,110.0,18.5,83.0,1987,6
15,15,1976,1988,"July 19, 1954",University of Oklahoma,6-9,Alvan Adams,C-F,/players/a/adamsal01.html,210.0,...,0.539,9.7,0.702,5.6,3.9,73.0,23.4,81.0,1975,13
20,20,1986,1996,"January 19, 1963",Boston College,5-10,Michael Adams,G,/players/a/adamsmi01.html,162.0,...,0.470,5.3,0.750,4.3,3.2,119.0,13.9,70.0,1985,11
22,22,1987,1997,"July 22, 1964",Syracuse University,6-7,Rafael Addison,F-G,/players/a/addisra01.html,215.0,...,0.534,6.2,0.763,3.3,2.5,126.0,14.9,79.0,1986,11
28,28,1982,1994,"December 10, 1959",DePaul University,6-6,Mark Aguirre,F-G,/players/a/aguirma01.html,232.0,...,0.546,9.9,0.768,6.8,5.2,87.0,25.1,78.0,1981,13
30,30,1982,1995,"March 17, 1959",Brigham Young University,6-4,Danny Ainge,G,/players/a/aingeda01.html,175.0,...,0.526,8.4,0.816,5.1,4.2,118.0,20.9,76.0,1981,14
41,41,1985,1985,"February 26, 1959","University of Kentucky, University of Connecticut",6-11,Chuck Aleksinas,C,/players/a/aleksch01.html,260.0,...,0.561,3.8,0.721,3.5,2.5,96.0,10.1,83.0,1984,1
63,63,1981,1981,"September 12, 1958","University of California, Los Angeles",6-9,Darrell Allums,F,/players/a/allumda01.html,220.0,...,0.488,1.3,0.688,1.6,1.1,92.0,3.8,81.0,1980,1
82,82,1983,1983,"December 28, 1960","University of Kentucky, University of Southern...",6-3,Dwight Anderson,G,/players/a/anderdw01.html,185.0,...,0.488,6.0,0.725,5.8,4.2,79.0,16.3,75.0,1982,1
85,85,1983,1985,"September 23, 1960",Bradley University,6-8,J.J. Anderson,F,/players/a/anderjj01.html,195.0,...,0.467,8.0,0.715,4.5,3.2,122.0,19.2,80.0,1982,3
94,94,1983,1990,"November 19, 1960","University of California, Santa Barbara",6-10,Richard Anderson,F-C,/players/a/anderri01.html,240.0,...,0.454,5.1,0.718,3.1,2.2,100.0,12.5,82.0,1982,8
116,116,1971,1984,"September 2, 1948",University of Texas at El Paso,6-1,Tiny Archibald,G,/players/a/architi01.html,150.0,...,0.507,7.0,0.785,7.7,6.0,73.0,20.0,73.0,1970,14
121,121,1951,1962,"April 9, 1928",Villanova University,6-4,Paul Arizin,F-G,/players/a/arizipa01.html,190.0,...,1.083,7.1,0.745,7.6,5.7,80.0,20.0,76.0,1950,12
150,150,1984,1984,"July 15, 1961",Rice University,6-9,Ken Austin,F,/players/a/austike01.html,205.0,...,0.486,4.2,0.590,3.4,2.0,91.0,10.3,81.0,1983,1
154,154,1971,1982,"February 22, 1948",Santa Clara University,6-10,Dennis Awtrey,C,/players/a/awtrede01.html,235.0,...,0.578,7.7,0.715,6.4,4.6,84.0,19.9,82.0,1970,12
166,166,1983,1994,"April 23, 1960",Boston College,6-0,John Bagley,G,/players/b/baglejo01.html,185.0,...,0.496,6.5,0.778,6.2,4.8,91.0,17.9,72.0,1982,12
168,168,1975,1980,"February 18, 1951",University of Texas at El Paso,6-5,Gus Bailey,G-F,/players/b/bailegu01.html,185.0,...,0.511,4.4,0.595,5.8,3.5,76.0,12.3,77.0,1974,6
169,169,1980,1988,"May 21, 1957",Rutgers University,6-9,James Bailey,F-C,/players/b/baileja01.html,220.0,...,0.545,7.0,0.655,4.2,2.8,122.0,16.7,81.0,1979,9
183,183,1978,1989,"January 29, 1955",University of Oregon,6-7,Greg Ballard,F,/players/b/ballagr01.html,215.0,...,0.510,5.9,0.778,5.4,4.2,115.0,15.9,79.0,1977,12
185,185,1982,1987,"May 15, 1959",Duke University,6-7,Gene Banks,F-G,/players/b/banksge01.html,215.0,...,0.531,6.7,0.722,4.8,3.4,124.0,16.8,79.0,1981,6
189,189,1974,1982,"December 3, 1951",Saint Joseph's University,6-9,Mike Bantom,F-C,/players/b/bantomi01.html,200.0,...,0.476,7.8,0.697,6.3,4.4,84.0,20.0,81.0,1973,9
197,197,1985,2000,"February 20, 1963",Auburn University,6-6,Charles Barkley,F,/players/b/barklch01.html,252.0,...,0.626,5.6,0.652,4.5,3.0,84.0,14.1,78.0,1984,16
203,203,1975,1980,"July 27, 1952",Providence College,6-8,Marvin Barnes,F-C,/players/b/barnema01.html,210.0,...,0.515,8.7,0.670,5.0,3.4,89.0,20.7,80.0,1974,6
222,222,1966,1980,"March 28, 1944",University of Miami,6-7,Rick Barry,F,/players/b/barryri01.html,205.0,...,0.522,10.6,0.847,10.2,8.6,77.0,29.8,79.0,1965,15
229,229,1974,1980,"April 1, 1951",University of Georgia,6-8,Tim Bassett,F-C,/players/b/basseti01.html,225.0,...,0.497,6.3,0.542,3.2,1.7,52.0,14.4,80.0,1973,7
239,239,1983,1984,"March 26, 1956",University of Notre Dame,6-10,Dave Batton,C,/players/b/battoda01.html,240.0,...,0.533,4.6,0.699,2.1,1.4,114.0,10.6,82.0,1982,2
246,246,1959,1972,"September 16, 1934","Albertson College of Idaho, Seattle University",6-5,Elgin Baylor,F,/players/b/bayloel01.html,225.0,...,0.498,11.6,0.784,10.4,8.1,54.0,31.2,77.0,1958,14
269,269,1987,1993,"December 14, 1963",University of Memphis,7-0,William Bedford,C,/players/b/bedfowi01.html,225.0,...,0.567,5.5,0.626,3.4,2.1,93.0,13.2,84.0,1986,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4415,4415,1984,1989,"September 11, 1961",St. John's University,6-2,Kevin Williams,G,/players/w/willike01.html,175.0,...,0.533,2.5,0.770,2.4,1.9,102.0,7.0,74.0,1983,6
4423,4423,1990,1990,"August 14, 1963","University of Cincinnati, Bradley University",6-8,Mike Williams,F,/players/w/willimi03.html,255.0,...,0.546,4.9,0.613,3.9,2.4,102.0,12.3,80.0,1989,1
4428,4428,1986,1987,"March 10, 1965",University of Arizona,6-7,Pete Williams,F,/players/w/willipe01.html,190.0,...,0.605,5.0,0.602,5.7,3.4,59.0,13.4,79.0,1985,2
4429,4429,1978,1987,"October 14, 1954",University of Minnesota,6-3,Ray Williams,G,/players/w/willira01.html,188.0,...,0.472,7.3,0.763,5.5,4.2,52.0,18.9,75.0,1977,10
4432,4432,1983,1983,"March 12, 1957","University of New Mexico, California State Uni...",6-1,Rickey Williams,G,/players/w/williri01.html,175.0,...,0.477,5.0,0.735,4.2,3.1,103.0,13.1,73.0,1982,1
4433,4433,1983,1984,"May 5, 1961",University of Houston,6-2,Rob Williams,G,/players/w/williro02.html,175.0,...,0.508,8.2,0.781,5.9,4.6,88.0,20.9,74.0,1982,2
4436,4436,1982,1985,"March 7, 1959",Arizona State University,6-8,Sam Williams,F,/players/w/willisa02.html,210.0,...,0.555,4.2,0.584,3.2,1.9,85.0,10.3,80.0,1981,4
4442,4442,1980,1986,"January 26, 1958",University of Rhode Island,6-7,Sly Williams,F-G,/players/w/willisl01.html,210.0,...,0.496,8.5,0.706,5.8,4.1,84.0,21.2,79.0,1979,7
4450,4450,1974,1981,"November 10, 1951",New Mexico State University,6-2,John Williamson,G,/players/w/willijo01.html,185.0,...,0.489,11.1,0.765,6.4,4.9,43.0,27.2,74.0,1973,8
4458,4458,1980,1980,"August 7, 1955",Western Carolina University,6-3,Bubba Wilson,G,/players/w/wilsobu01.html,175.0,...,0.523,8.1,0.683,3.9,2.7,48.0,18.9,75.0,1979,1
4465,4465,1984,1987,"September 15, 1959",Marquette University,6-4,Michael Wilson,G,/players/w/wilsomi01.html,175.0,...,0.492,4.4,0.724,2.9,2.1,119.0,10.9,76.0,1983,4
4467,4467,1985,1987,"October 26, 1961",University of Virginia,6-0,Othell Wilson,G,/players/w/wilsoot01.html,190.0,...,0.511,4.5,0.734,3.2,2.3,127.0,11.3,72.0,1984,3
4468,4468,1979,1980,"February 7, 1956",University of Louisville,6-5,Rick Wilson,G,/players/w/wilsori01.html,200.0,...,0.530,5.4,0.777,2.3,1.8,113.0,12.6,77.0,1978,2
4477,4477,1987,2001,"December 15, 1963",Georgetown University,6-5,David Wingate,G-F,/players/w/wingada01.html,185.0,...,0.467,5.0,0.719,3.9,2.8,139.0,12.8,77.0,1986,15
4484,4484,1975,1983,"March 1, 1952",University of South Carolina,6-4,Brian Winters,G-F,/players/w/wintebr01.html,185.0,...,0.499,5.4,0.798,3.1,2.5,82.0,13.2,76.0,1974,9
4485,4485,1986,1986,"October 12, 1962",Bradley University,6-8,Voise Winters,F,/players/w/wintevo01.html,200.0,...,0.500,6.1,0.713,2.9,2.1,120.0,14.2,80.0,1985,1
4492,4492,1982,1982,"July 3, 1959",College of the Holy Cross,6-7,Garry Witts,G-F,/players/w/wittsga01.html,190.0,...,0.541,4.8,0.792,3.3,2.7,115.0,12.2,79.0,1981,1
4497,4497,1982,1987,"June 2, 1958",University of North Carolina,6-6,Al Wood,G-F,/players/w/woodal01.html,193.0,...,0.560,6.5,0.764,3.8,2.9,126.0,16.0,78.0,1981,6
4501,4501,1982,1982,"May 20, 1959",University of Tennessee,6-7,Howard Wood,F,/players/w/woodho01.html,235.0,...,0.509,3.9,0.802,3.2,2.6,115.0,10.4,79.0,1981,1
4507,4507,1981,1991,"March 24, 1958",Indiana University,6-5,Mike Woodson,G-F,/players/w/woodsmi01.html,195.0,...,0.505,7.9,0.780,5.2,4.0,104.0,19.8,77.0,1980,11
4509,4509,1982,1994,"December 16, 1959",University of Notre Dame,6-9,Orlando Woolridge,F,/players/w/woolror01.html,215.0,...,0.595,4.3,0.669,3.1,2.1,109.0,10.6,81.0,1981,13
4515,4515,1981,1982,"January 17, 1958",Marquette University,6-5,Sam Worthen,G,/players/w/worthsa01.html,195.0,...,0.492,5.7,0.796,3.8,3.0,56.0,14.4,77.0,1980,2
4516,4516,1983,1994,"February 27, 1961",University of North Carolina,6-9,James Worthy,F,/players/w/worthja01.html,225.0,...,0.541,5.8,0.652,4.5,3.0,84.0,14.5,81.0,1982,12
4519,4519,1987,1988,"March 26, 1962","University of California, Los Angeles",6-11,Brad Wright,F,/players/w/wrighbr01.html,225.0,...,0.524,2.1,0.617,2.3,1.4,99.0,5.6,83.0,1986,2
4540,4540,1954,1960,"November 3, 1928",Stanford University,6-5,George Yardley,F-G,/players/y/yardlge01.html,190.0,...,0.376,4.4,0.698,4.0,2.8,71.0,11.5,77.0,1953,7
4544,4544,1982,1982,"October 3, 1958",University of North Carolina,6-9,Rich Yonakor,F,/players/y/yonakri01.html,220.0,...,0.503,2.1,0.721,1.8,1.3,110.0,5.4,81.0,1981,1
4549,4549,1985,1990,"January 2, 1961",University of Houston,6-7,Michael Young,F-G,/players/y/youngmi01.html,220.0,...,0.491,6.7,0.631,2.9,1.8,134.0,15.2,79.0,1984,6
4551,4551,1987,1987,"August 4, 1963",Virginia Polytechnic Institute and State Unive...,6-5,Perry Young,G,/players/y/youngpe01.html,210.0,...,0.517,5.6,0.689,5.1,3.5,129.0,14.7,77.0,1986,1
4564,4564,1980,1980,"October 1, 1957",Arizona State University,6-8,Tony Zeno,F,/players/z/zenoto01.html,210.0,...,0.466,4.8,0.742,2.4,1.8,112.0,11.4,80.0,1979,1
4572,4572,1983,1983,"December 20, 1953",Kent State University,7-1,Jim Zoet,C,/players/z/zoetji01.html,240.0,...,0.476,1.4,0.429,1.0,0.4,63.0,3.2,85.0,1982,1

In [42]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]['NCAA__3ptpct'].value_counts()

Series([], Name: NCAA__3ptpct, dtype: int64)

In [43]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]['NCAA__3ptpg'].value_counts()

0.0    3
Name: NCAA__3ptpg, dtype: int64

In [44]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]['active_from'].value_counts()

1981    66
1982    62
1983    59
1986    49
1987    47
1984    46
1985    44
1980    44
1979    37
1978    35
1977    27
1976    26
1975    22
1971    16
1972    15
1974    15
1988    11
1973    11
1989    10
1970     7
1963     6
1990     5
1957     5
1959     5
1969     4
1968     4
1955     4
1966     4
1951     3
1960     3
1956     3
1950     3
1961     3
1964     3
1965     2
1967     2
1962     1
1954     1
1953     1
1952     1
1993     1
2000     1
Name: active_from, dtype: int64

In [45]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]['NBA__3ptapg'].value_counts()

0.0    269
0.1    140
0.3     55
0.2     49
0.4     33
0.5     17
0.6     15
0.7     14
0.9     10
1.1     10
1.3      7
1.2      7
1.0      6
1.9      6
0.8      5
1.5      5
1.4      4
2.0      3
2.1      2
1.7      2
1.8      1
2.2      1
4.4      1
2.4      1
3.0      1
3.1      1
3.5      1
2.5      1
3.6      1
Name: NBA__3ptapg, dtype: int64

In [46]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]['NBA__3ptpct'].value_counts()

0.000    151
0.250     12
0.200     11
0.333     10
0.500      9
0.143      9
0.167      8
0.286      7
0.077      6
0.111      5
0.271      5
0.154      5
0.083      5
0.273      5
0.222      5
0.188      5
0.176      4
0.152      4
0.226      4
0.091      4
1.000      4
0.298      3
0.261      3
0.206      3
0.214      3
0.071      3
0.100      3
0.225      3
0.282      3
0.253      3
        ...
0.043      1
0.314      1
0.311      1
0.281      1
0.252      1
0.667      1
0.030      1
0.376      1
0.319      1
0.396      1
0.248      1
0.339      1
0.344      1
0.047      1
0.146      1
0.366      1
0.545      1
0.331      1
0.147      1
0.245      1
0.203      1
0.081      1
0.132      1
0.251      1
0.373      1
0.079      1
0.363      1
0.038      1
0.316      1
0.341      1
Name: NBA__3ptpct, Length: 195, dtype: int64

In [47]:
dfNCAA[dfNCAA['NCAA__3ptapg'].isna()]['NBA__3ptpg'].value_counts()

0.0    456
0.1    108
0.2     32
0.3     23
0.4     19
0.5     10
0.7      6
0.8      5
0.6      4
1.0      2
1.4      1
1.3      1
1.5      1
Name: NBA__3ptpg, dtype: int64

In [48]:
dfNCAA[dfNCAA['NBA_fg%'].isna()]

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Active_From,Years_In_NBA
286,286,2015,2015,"August 1, 1991","Georgetown University, Towson University",6-8,Jerrelle Benimon,F,/players/b/benimje01.html,245.0,...,0.522,3.5,0.686,4.2,2.9,128.0,10.1,80.0,2014,1
866,866,2010,2010,"January 7, 1986",Oklahoma State University,6-3,JamesOn Curry,G,/players/c/curryja01.html,190.0,...,0.437,4.7,0.758,2.9,2.2,101.0,13.5,75.0,2009,1
1341,1341,2006,2006,"March 22, 1982",Fairfield University,6-9,Deng Gai,F,/players/g/gaide01.html,250.0,...,0.473,4.6,0.736,3.7,2.7,100.0,12.7,81.0,2005,1
1878,1878,1992,1992,"January 16, 1965",University of Kansas,6-0,Cedric Hunter,G,/players/h/huntece01.html,180.0,...,0.535,3.9,0.521,3.4,1.8,108.0,9.5,72.0,1991,1
2137,2137,1986,1986,"October 31, 1957",Georgia Institute of Technology,6-11,Yvon Joseph,C,/players/j/josepyv01.html,245.0,...,0.549,4.4,0.708,4.0,2.8,65.0,11.7,83.0,1985,1
2353,2353,2011,2011,"November 7, 1988",Georgia Institute of Technology,6-9,Gani Lawal,F,/players/l/lawalga01.html,234.0,...,0.548,4.5,0.552,5.0,2.8,99.0,11.8,81.0,2010,1
2481,2481,2018,2018,"April 9, 1996",Syracuse University,6-10,Tyler Lydon,F,/players/l/lydonty01.html,215.0,...,0.476,3.9,0.809,2.9,2.4,71.0,11.6,82.0,2017,1
2652,2652,1998,1998,"February 13, 1969","Utah Valley State College, University of New O...",6-10,Michael McDonald,C,/players/m/mcdonmi01.html,232.0,...,0.593,2.8,0.581,2.4,1.4,88.0,7.0,82.0,1997,1
2689,2689,2018,2018,"August 27, 1990",University of Miami,6-5,Trey McKinney-Jones,G,/players/m/mckintr01.html,214.0,...,0.444,2.6,0.740,2.0,1.4,130.0,7.7,77.0,2017,1
2829,2829,2018,2018,"May 13, 1995",Southern Methodist University,6-7,Ben Moore,F,/players/m/moorebe01.html,203.0,...,0.539,3.4,0.663,3.3,2.2,135.0,9.0,79.0,2017,1
3520,3520,2003,2003,"July 27, 1977",University of Iowa,6-11,Guy Rucker,F-C,/players/r/ruckegu01.html,265.0,...,0.499,3.4,0.644,1.9,1.2,92.0,8.0,83.0,2002,1
3585,3585,2006,2006,"July 3, 1978",University of Oregon,6-4,Alex Scales,G,/players/s/scaleal01.html,185.0,...,0.429,5.5,0.758,3.3,2.5,62.0,15.3,76.0,2005,1
3758,3758,2014,2014,"October 13, 1987","Manhattan College, University of Louisville",6-2,Chris Smith,G,/players/s/smithch05.html,200.0,...,0.403,3.6,0.703,2.9,2.0,125.0,10.5,74.0,2013,1
3940,3940,1996,1996,"April 11, 1973",Xavier University,6-9,Larry Sykes,F,/players/s/sykesla01.html,255.0,...,0.511,2.3,0.540,2.2,1.2,105.0,5.8,81.0,1995,1
4483,4483,1999,1999,"January 7, 1974",University of Minnesota,7-0,Trevor Winter,C,/players/w/wintetr01.html,275.0,...,0.500,1.1,0.696,0.8,0.6,109.0,2.8,84.0,1998,1

In [49]:
dfNCAA[dfNCAA['NBA_fg%'].isna()].iloc[0]

Unnamed: 0                                               286
active_from                                             2015
active_to                                               2015
birth_date                                    August 1, 1991
college             Georgetown University, Towson University
height                                                   6-8
name                                        Jerrelle Benimon
position                                                   F
url                                /players/b/benimje01.html
weight                                                   245
NBA__3ptapg                                                0
NBA__3ptpct                                              NaN
NBA__3ptpg                                                 0
NBA_efgpct                                               NaN
NBA_fg%                                                  NaN
NBA_fg_per_game                                            0
NBA_fga_per_game                                           0
NBA_ft%                                                  NaN
NBA_ft_per_g                                               0
NBA_fta_p_g                                                0
NBA_g_played                                               2
NBA_ppg                                                    0
NCAA__3ptapg                                             0.9
NCAA__3ptpct                                           0.327
NCAA__3ptpg                                              0.3
NCAA_fgapg                                               6.6
NCAA_fgpct                                             0.522
NCAA_fgpg                                                3.5
NCAA_ft                                                0.686
NCAA_ftapg                                               4.2
NCAA_ftpg                                                2.9
NCAA_games                                               128
NCAA_ppg                                                10.1
Height (In)                                               80
Active_From                                             2014
Years_In_NBA                                               1
Name: 286, dtype: object

In [50]:
dfNCAA[dfNCAA['name'] == 'Tim Duncan'].iloc[0]

Unnamed: 0                               1081
active_from                              1998
active_to                                2016
birth_date                     April 25, 1976
college                Wake Forest University
height                                   6-11
name                               Tim Duncan
position                                  F-C
url                 /players/d/duncati01.html
weight                                    250
NBA__3ptapg                               0.1
NBA__3ptpct                             0.179
NBA__3ptpg                                  0
NBA_efgpct                              0.507
NBA_fg%                                 0.506
NBA_fg_per_game                           7.4
NBA_fga_per_game                         14.6
NBA_ft%                                 0.696
NBA_ft_per_g                              4.2
NBA_fta_p_g                               6.1
NBA_g_played                             1392
NBA_ppg                                    19
NCAA__3ptapg                              0.4
NCAA__3ptpct                            0.321
NCAA__3ptpg                               0.1
NCAA_fgapg                               10.7
NCAA_fgpct                              0.577
NCAA_fgpg                                 6.2
NCAA_ft                                 0.689
NCAA_ftapg                                5.9
NCAA_ftpg                                 4.1
NCAA_games                                128
NCAA_ppg                                 16.5
Height (In)                                83
Active_From                              1997
Years_In_NBA                               19
Name: 1081, dtype: object

In [51]:
dfNCAA[dfNCAA['Years_In_NBA'] == dfNCAA['Years_In_NBA'].max()]

,Unnamed: 0,active_from,active_to,birth_date,college,height,name,position,url,weight,...,NCAA_fgpct,NCAA_fgpg,NCAA_ft,NCAA_ftapg,NCAA_ftpg,NCAA_games,NCAA_ppg,Height (In),Active_From,Years_In_NBA
4452,4452,1985,2007,"September 6, 1962",Michigan State University,7-0,Kevin Willis,F-C,/players/w/willike02.html,220.0,...,0.53,4.5,0.579,2.0,1.2,79.0,10.1,84.0,1984,23

In [53]:
len(dfNCAA[dfNCAA['Active_From'] >= 1980])

2268

In [55]:
dfNCAA_1980 = dfNCAA[dfNCAA['Active_From'] >= 1980]

In [56]:
len(dfNCAA_1980)

2268

In [58]:
dfNCAA_1980.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2268 entries, 0 to 4572
Data columns (total 36 columns):
Unnamed: 0          2268 non-null int64
active_from         2268 non-null int64
active_to           2268 non-null int64
birth_date          2268 non-null object
college             2268 non-null object
height              2268 non-null object
name                2268 non-null object
position            2268 non-null object
url                 2268 non-null object
weight              2268 non-null float64
NBA__3ptapg         2268 non-null float64
NBA__3ptpct         1985 non-null float64
NBA__3ptpg          2268 non-null float64
NBA_efgpct          2253 non-null float64
NBA_fg%             2253 non-null float64
NBA_fg_per_game     2268 non-null float64
NBA_fga_per_game    2268 non-null float64
NBA_ft%             2157 non-null float64
NBA_ft_per_g        2268 non-null float64
NBA_fta_p_g         2268 non-null float64
NBA_g_played        2268 non-null int64
NBA_ppg             2268 non-null float64
NCAA__3ptapg        1867 non-null float64
NCAA__3ptpct        1725 non-null float64
NCAA__3ptpg         1870 non-null float64
NCAA_fgapg          2268 non-null float64
NCAA_fgpct          2268 non-null float64
NCAA_fgpg           2268 non-null float64
NCAA_ft             2268 non-null float64
NCAA_ftapg          2268 non-null float64
NCAA_ftpg           2268 non-null float64
NCAA_games          2268 non-null float64
NCAA_ppg            2268 non-null float64
Height (In)         2268 non-null float64
Active_From         2268 non-null int64
Years_In_NBA        2268 non-null int64
dtypes: float64(24), int64(6), object(6)
memory usage: 655.6+ KB

In [59]:
dfNCAA_1980.isna().sum()

Unnamed: 0            0
active_from           0
active_to             0
birth_date            0
college               0
height                0
name                  0
position              0
url                   0
weight                0
NBA__3ptapg           0
NBA__3ptpct         283
NBA__3ptpg            0
NBA_efgpct           15
NBA_fg%              15
NBA_fg_per_game       0
NBA_fga_per_game      0
NBA_ft%             111
NBA_ft_per_g          0
NBA_fta_p_g           0
NBA_g_played          0
NBA_ppg               0
NCAA__3ptapg        401
NCAA__3ptpct        543
NCAA__3ptpg         398
NCAA_fgapg            0
NCAA_fgpct            0
NCAA_fgpg             0
NCAA_ft               0
NCAA_ftapg            0
NCAA_ftpg             0
NCAA_games            0
NCAA_ppg              0
Height (In)           0
Active_From           0
Years_In_NBA          0
dtype: int64

In [61]:
dfNCAA_1980.isna().sum().sum()

1766

In [63]:
dfNCAA_1980 = dfNCAA_1980.fillna(0)

In [65]:
dfNCAA_1980.isna().sum()

Unnamed: 0          0
active_from         0
active_to           0
birth_date          0
college             0
height              0
name                0
position            0
url                 0
weight              0
NBA__3ptapg         0
NBA__3ptpct         0
NBA__3ptpg          0
NBA_efgpct          0
NBA_fg%             0
NBA_fg_per_game     0
NBA_fga_per_game    0
NBA_ft%             0
NBA_ft_per_g        0
NBA_fta_p_g         0
NBA_g_played        0
NBA_ppg             0
NCAA__3ptapg        0
NCAA__3ptpct        0
NCAA__3ptpg         0
NCAA_fgapg          0
NCAA_fgpct          0
NCAA_fgpg           0
NCAA_ft             0
NCAA_ftapg          0
NCAA_ftpg           0
NCAA_games          0
NCAA_ppg            0
Height (In)         0
Active_From         0
Years_In_NBA        0
dtype: int64

In [66]:
dfNCAA_1980.isna().sum().sum()

0

In [67]:
# Some players in their NCAA stats have high a 3-point percentage; however, they only shot a few 3-pointers (like David Robinson)
# David Robinson's NCAA 3-point percentage was 100%; however, he only made and attempted 1 3-pointer
# Thus, the NCAA__3ptpctpg column will multiply a player's NCAA 3ptpct by their NCAA 3ptpg to determine if they were accurate 3-point shooters who shot a good amount of 3-pointers in their NCAA careers

def getNCAAThreePtPctPg(pct,pg):
    return pct*pg
dfNCAA_1980['NCAA__3ptpctpg'] = [getNCAAThreePtPctPg(percentage, pergame) for (percentage, pergame) in zip(dfNCAA_1980['NCAA__3ptpct'], dfNCAA_1980['NCAA__3ptpg'])]

In [69]:
dfNCAA_1980[dfNCAA_1980['name'] == 'David Robinson'].iloc[0]

Unnamed: 0                                 3448
active_from                                1990
active_to                                  2003
birth_date                       August 6, 1965
college             United States Naval Academy
height                                      7-1
name                             David Robinson
position                                      C
url                   /players/r/robinda01.html
weight                                      235
NBA__3ptapg                                 0.1
NBA__3ptpct                                0.25
NBA__3ptpg                                    0
NBA_efgpct                                0.519
NBA_fg%                                   0.518
NBA_fg_per_game                             7.5
NBA_fga_per_game                           14.4
NBA_ft%                                   0.736
NBA_ft_per_g                                6.1
NBA_fta_p_g                                 8.3
NBA_g_played                                987
NBA_ppg                                    21.1
NCAA__3ptapg                                  0
NCAA__3ptpct                                  1
NCAA__3ptpg                                   0
NCAA_fgapg                                 13.3
NCAA_fgpct                                0.613
NCAA_fgpg                                   8.1
NCAA_ft                                   0.627
NCAA_ftapg                                  7.6
NCAA_ftpg                                   4.8
NCAA_games                                  127
NCAA_ppg                                     21
Height (In)                                  85
Active_From                                1989
Years_In_NBA                                 14
NCAA__3ptpctpg                                0
Name: 3448, dtype: object

In [71]:
dfNCAA_1980_2013 = dfNCAA_1980[(dfNCAA_1980['Active_From'] <= 2013) | (dfNCAA_1980['active_to'] <= 2017)]

In [72]:
print(np.sort(dfNCAA_1980_2013['Active_From'].unique()))

[1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993
 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015 2016]

In [73]:
len(dfNCAA_1980_2013)

2030

In [74]:
dfNCAA_1980_2013.to_csv('Condensed Dataset.csv')